@font-face {
    font-family: 'ProductFont';
    src: url('../styles/fonts/Oxanium-SemiBold.ttf');
  }
.cart{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'ProductFont';
    padding: 20px;
}
.cart h2{
    font-family: "LinkFont";
    font-size: 1.8em;
}

.cartList{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width: 800px;
}
.cartList li{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin:5px 0;
    padding: 10px;
    width: 100%;
    
    
}

.removeButt{
    width: 43px;
    height:43px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover{
    cursor: pointer;
}

.checkoutButt{
    justify-self: right;
    width: 30%;
    max-width: 300px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: whitesmoke;
    color: black;
    align-self: flex-end;
    margin-top: 20px;
    font-family: 'ProductFont';
}
.detailsCart{
    display: flex;
    flex-direction: column;
    width:80%;
    margin:10px;
    text-align: left;
    
}
.QuanPrice{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width:80%;
    text-align: left;
}

.QuanPrice p {
    margin: 0 10px; /* Add margin to individual elements */
}

.name{
    font-family: 'BoldFont';
    font-size: 1.3em;
    text-align: left;
}

.prodImg{
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



