@font-face {
  font-family: 'LinkFont';
  src: url('../styles/fonts/GeosansLight.ttf');
}

.homepage {
    margin: 0;
    padding: 0;
    font-family:'LinkFont';
    background-color: whitesmoke;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  h1, h2 {
    margin: 0;
    font-weight: 300;
  }
  
  
  /* Hero Section */
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 20px 0;
  
  }
  
  .hero-text {
    flex: 1;
    max-width: 40%;
  
  }
  
  .hero-text h2 {
    font-size: 2.5em;
    color: #666;
  }
  
  .view-project {
    display: inline-block;
    margin-top: 20px;
    font-size: 1em;
    color: #000;
    font-weight: 500;
  }
  
  .hero-image {
    flex: 1;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Recommended Section */
  .recommended {
    text-align: center;
    padding: 40px 20px;
  }
  
  .recommended h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  
  .recommended-images {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .recommended-images img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }
  