/* NavBar.css */

/* General Styling for the Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 10vh;
    flex-wrap: nowrap;
  }
  
  /* Logo Styling */
  .logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #000; /* Black text for the logo */
    margin: 0;
    white-space: nowrap;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .nav-links li {
    font-size: 1em;
    flex-shrink:0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000; /* Black text for links */
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #007bff; /* Add a hover color for better interactivity */
  }
  
  /* Make Navbar Responsive */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 10px;
    }
  }
  
  .searchBar{
    display: flex;
    max-width: 500px;
    flex: 1;
  }
  