.profile-page{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    box-sizing: border-box;
    margin:20px 20px;
    padding: 30px;
    flex-wrap:wrap;
    
}

.profileForm {
    display:flex;
    flex-direction: column;
    max-width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.profileForm input{
    width:300px;
}

.purchases-section{
    display:flex;
    flex-direction: column;
    width:50%;
    max-width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    margin:20px;
}

.seller-section{
    margin-top: 20px;
}

h2{
    font-family: 'LinkFont';
}
